# Google Driveの出力先フォルダID
output_folder_id: <output_folder_id>

# Google Drive内の基本的な保存先パス
target_folder_path: audio/radio/

# サービスアカウントの認証情報JSONファイルへのパス
# このファイルはGitHub Actionsの実行環境に一時的に作成されます
service_account_credentials_file: service_account.json
