name: Organize Radio Files

on:
  schedule:
    # 毎週日曜日の3:00 (UTC) に実行
    - cron: '0 3 * * 0'
  workflow_dispatch:

jobs:
  organize:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Create settings.yaml
      run: echo "${{ secrets.SETTINGS_YAML_CONTENT }}" > settings.yaml
      shell: bash

    - name: Create service_account.json
      run: echo "${{ secrets.GDRIVE_SERVICE_ACCOUNT_JSON }}" > service_account.json
      shell: bash

    - name: Run script
      run: python radio_furiwake.py
